{% extends 'app_cards/base.html' %}
{% block title %} Карточки {% endblock %}
{% block content %}
    <div class="header"></div>
    <div class="content_block">
        {% for card in cards %}
            <div onclick="F({{ card.id }})" class="card" id="button_{{ card.id }}">
                <div class="front_card">
                    <div class="front_card_content center">
                        {{ card.name_card }}
                    </div>
                </div>
                <div class="back_card">
                    <div class="back_card_content center">
                    {{ card.content }}
                    </div>
                </div>
            </div>
        {% endfor %}



    <script>
    function F(ID){
    const button = document.getElementById('button_'+ID);
    button.classList.toggle('is-flipped');
{% comment %}    function f() {

        console.log('привет');
        button.classList.toggle('is-flipped');
    }
    button.onclick = f();{% endcomment %}
    }
    </script>
{% endblock %}