{% extends 'app_cards/base_header_tollbar.html' %}
{% load static %}
{% block title %} Список колод{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h1>Ваши колоды</h1>

    {% for deck in decks %}
        <div class="deck_container group">
            <a  class="hidden_link" style="text-decoration: none" href="{% url "Deck_gallery" deck.id %}">
                <div class="deck">
                    <p class="name_deck">
                        {{ deck.name_deck }}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
    <p>{{ random_card.name_card }}</p>
{% endblock %}